doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/ldclient.min.js')
    script(src="/javascripts/header_color.js")
  body
    block content
